name: Pandoc slides

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master

    - name: mkdir
      run: |
       mkdir public
       
    - name: Generate HTML slides with Pandoc
      uses: docker://pandoc/latex:2.9
      with:
        args: "--mathjax -t revealjs -s --standalone --section-divs -s -o src/index.html src/index.md -V revealjs-url=https://unpkg.com/reveal.js@4.0.2/"

    - name: Upload artifact
      uses: actions/upload-artifact@master
      with:
        name: paper
        path: src

    - name: Remove extra files
      run: |
       rm -f ./src/index.md ./src/template-revealjs.html
 
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: src
